3.1. Etapa 1

In [4]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SQLContext

In [43]:
spark = SparkSession \
        .builder \
        .master ("local[*]") \
        .appName ("Exercicio Intro") \
        .getOrCreate()

path_file = "nomes_aleatorios.txt"

df_nomes = spark.read.csv(path_file)

df_nomes.show(5)

+--------------+
|           _c0|
+--------------+
|  Melvin Meyer|
|Marvin Vicente|
|Edward Kistler|
| Paulette Wong|
|   Billy Kalas|
+--------------+
only showing top 5 rows

3.2. Etapa 2

In [11]:
df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")
df_nomes.printSchema()
df_nomes.show(10)

root
 |-- Nomes: string (nullable = true)

+----------------+
|           Nomes|
+----------------+
|    Melvin Meyer|
|  Marvin Vicente|
|  Edward Kistler|
|   Paulette Wong|
|     Billy Kalas|
|     Rodger Keys|
|Salvatore Arnold|
|     Janie Davis|
|    Shirley Rice|
|     Ruby Oleary|
+----------------+
only showing top 10 rows

3.3. Etapa 3

In [18]:
from pyspark.sql.functions import rand, when

df_nomes = df_nomes.withColumn(
    "Escolaridade",
    when((rand() * 3).cast("int") == 0, "Fundamental")
    .when((rand() * 3).cast("int") == 1, "Medio")
    .otherwise("Superior")
)

df_nomes.printSchema()
df_nomes.show(10)

root
 |-- Nomes: string (nullable = true)
 |-- Escolaridade: string (nullable = false)

+----------------+------------+
|           Nomes|Escolaridade|
+----------------+------------+
|    Melvin Meyer| Fundamental|
|  Marvin Vicente|    Superior|
|  Edward Kistler| Fundamental|
|   Paulette Wong|    Superior|
|     Billy Kalas| Fundamental|
|     Rodger Keys|    Superior|
|Salvatore Arnold|    Superior|
|     Janie Davis|    Superior|
|    Shirley Rice|       Medio|
|     Ruby Oleary| Fundamental|
+----------------+------------+
only showing top 10 rows

3.4. Etapa 4

In [23]:
from pyspark.sql.functions import col

df_nomes = df_nomes.withColumn("rand_num", (rand() * 13).cast("int"))

df_nomes = df_nomes.withColumn(
    "Pais",
    when(col("rand_num") == 0, "Brasil")
    .when(col("rand_num") == 1, "Uruguai")
    .when(col("rand_num") == 2, "Argentina")
    .when(col("rand_num") == 3, "Chile")
    .when(col("rand_num") == 4, "Paraguai")
    .when(col("rand_num") == 5, "Bolivia")
    .when(col("rand_num") == 6, "Peru")
    .when(col("rand_num") == 7, "Equador")
    .when(col("rand_num") == 8, "Colombia")
    .when(col("rand_num") == 9, "Venezuela")
    .when(col("rand_num") == 10, "Guiana")
    .when(col("rand_num") == 11, "Suriname")
    .otherwise("Guiana Francesa")
)

df_nomes = df_nomes.drop("rand_num")
df_nomes.show(10)

+----------------+------------+---------------+
|           Nomes|Escolaridade|           Pais|
+----------------+------------+---------------+
|    Melvin Meyer| Fundamental|        Uruguai|
|  Marvin Vicente|    Superior|           Peru|
|  Edward Kistler| Fundamental|       Colombia|
|   Paulette Wong|    Superior|       Colombia|
|     Billy Kalas| Fundamental|          Chile|
|     Rodger Keys|    Superior|           Peru|
|Salvatore Arnold|    Superior|         Brasil|
|     Janie Davis|    Superior|        Uruguai|
|    Shirley Rice|       Medio|       Suriname|
|     Ruby Oleary| Fundamental|Guiana Francesa|
+----------------+------------+---------------+
only showing top 10 rows

3.5. Etapa 5

In [24]:
df_nomes = df_nomes.withColumn(
    "AnoNascimento", 
    (rand() * (2010 - 1945 + 1) + 1945).cast("int")
)

df_nomes.show(10)

+----------------+------------+---------------+-------------+
|           Nomes|Escolaridade|           Pais|AnoNascimento|
+----------------+------------+---------------+-------------+
|    Melvin Meyer| Fundamental|        Uruguai|         1964|
|  Marvin Vicente|    Superior|           Peru|         1994|
|  Edward Kistler| Fundamental|       Colombia|         1984|
|   Paulette Wong|    Superior|       Colombia|         1969|
|     Billy Kalas| Fundamental|          Chile|         1956|
|     Rodger Keys|    Superior|           Peru|         1988|
|Salvatore Arnold|    Superior|         Brasil|         1983|
|     Janie Davis|    Superior|        Uruguai|         1971|
|    Shirley Rice|       Medio|       Suriname|         1952|
|     Ruby Oleary| Fundamental|Guiana Francesa|         2009|
+----------------+------------+---------------+-------------+
only showing top 10 rows

3.6. Etapa 6

In [27]:
df_pessoas_sec_21 = df_nomes.filter(col("AnoNascimento") >= 2001).select("*")

df_pessoas_sec_21.show(10)

+----------------+------------+---------------+-------------+
|           Nomes|Escolaridade|           Pais|AnoNascimento|
+----------------+------------+---------------+-------------+
|     Ruby Oleary| Fundamental|Guiana Francesa|         2009|
| James Dickerson|    Superior|Guiana Francesa|         2004|
|  Bertha Scanlon|       Medio|      Argentina|         2007|
|   Leonard Swain|       Medio|          Chile|         2004|
|    Timothy Owen|    Superior|        Bolivia|         2001|
|Florence Simmons|    Superior|          Chile|         2002|
|     Kory Taylor| Fundamental|       Colombia|         2001|
|    Jason Martin|    Superior|         Guiana|         2002|
|     Danny Bloom|    Superior|       Paraguai|         2001|
|     Ima Riddick| Fundamental|      Argentina|         2002|
+----------------+------------+---------------+-------------+
only showing top 10 rows

3.7. Etapa 7

In [29]:
df_nomes.createOrReplaceTempView ("pessoas")

df_neste_seculo = spark.sql("select * from pessoas where AnoNascimento >= 2001")

df_neste_seculo.show(10)

+----------------+------------+---------------+-------------+
|           Nomes|Escolaridade|           Pais|AnoNascimento|
+----------------+------------+---------------+-------------+
|     Ruby Oleary| Fundamental|Guiana Francesa|         2009|
| James Dickerson|    Superior|Guiana Francesa|         2004|
|  Bertha Scanlon|       Medio|      Argentina|         2007|
|   Leonard Swain|       Medio|          Chile|         2004|
|    Timothy Owen|    Superior|        Bolivia|         2001|
|Florence Simmons|    Superior|          Chile|         2002|
|     Kory Taylor| Fundamental|       Colombia|         2001|
|    Jason Martin|    Superior|         Guiana|         2002|
|     Danny Bloom|    Superior|       Paraguai|         2001|
|     Ima Riddick| Fundamental|      Argentina|         2002|
+----------------+------------+---------------+-------------+
only showing top 10 rows

3.8. Etapa 8

In [33]:
df_millenails = df_nomes.filter((col("AnoNascimento") >= 1980) & (col("AnoNascimento") <= 1994)).select("*")

df_millenails.show(10)

+----------------+------------+---------------+-------------+
|           Nomes|Escolaridade|           Pais|AnoNascimento|
+----------------+------------+---------------+-------------+
|  Marvin Vicente|    Superior|           Peru|         1994|
|  Edward Kistler| Fundamental|       Colombia|         1984|
|     Rodger Keys|    Superior|           Peru|         1988|
|Salvatore Arnold|    Superior|         Brasil|         1983|
|   Fred Portales|    Superior|      Argentina|         1982|
|      Kyle Henry| Fundamental|       Paraguai|         1992|
|    David Medina|       Medio|          Chile|         1986|
|  Kimberly Brown|    Superior|Guiana Francesa|         1987|
| Elizabeth Crowe|       Medio|       Suriname|         1993|
|   Richard Lerma|       Medio|       Colombia|         1990|
+----------------+------------+---------------+-------------+
only showing top 10 rows

3.9. Etapa 9

In [35]:
df_nomes.createOrReplaceTempView ("pessoas")

df_novos_millenails = spark.sql("Select * from pessoas where AnoNascimento between 1980 and 1984")

df_novos_millenails.show(10)

+----------------+------------+---------+-------------+
|           Nomes|Escolaridade|     Pais|AnoNascimento|
+----------------+------------+---------+-------------+
|  Edward Kistler| Fundamental| Colombia|         1984|
|Salvatore Arnold|    Superior|   Brasil|         1983|
|   Fred Portales|    Superior|Argentina|         1982|
|    Nicole Brown| Fundamental|   Guiana|         1980|
|   Mable Astorga|    Superior| Paraguai|         1984|
|    Hilda Gordon|    Superior| Suriname|         1982|
|    Rosa Britton|    Superior| Paraguai|         1981|
|   Joseph Sutton|       Medio|   Brasil|         1980|
|  Katrina Graham|    Superior| Suriname|         1980|
|    Dallas Wolff| Fundamental|Argentina|         1981|
+----------------+------------+---------+-------------+
only showing top 10 rows

3.10. Etapa 10

In [42]:
df_nomes.createOrReplaceTempView ("pessoas")

query = """
    SELECT Pais,
            CASE
                WHEN AnoNascimento Between 1944 AND 1964 THEN 'Baby Boomers'
                WHEN AnoNascimento Between 1965 AND 1979 THEN 'Geração X'
                WHEN AnoNascimento Between 1980 AND 1994 THEN 'Millenaisl (Geração Y)'
                ELSE 'Geração Z'
            END AS Geracao,
            COUNT(*) AS Quantidade
    FROM pessoas
    GROUP BY Pais, Geracao
    ORDER BY Pais, Geracao
"""

resultado = spark.sql(query)
resultado.show(n=resultado.count(), truncate=False)

+---------------+----------------------+----------+
|Pais           |Geracao               |Quantidade|
+---------------+----------------------+----------+
|Argentina      |Baby Boomers          |233382    |
|Argentina      |Geração X             |174638    |
|Argentina      |Geração Z             |186413    |
|Argentina      |Millenaisl (Geração Y)|174706    |
|Bolivia        |Baby Boomers          |232486    |
|Bolivia        |Geração X             |174844    |
|Bolivia        |Geração Z             |186438    |
|Bolivia        |Millenaisl (Geração Y)|174513    |
|Brasil         |Baby Boomers          |233095    |
|Brasil         |Geração X             |174919    |
|Brasil         |Geração Z             |186828    |
|Brasil         |Millenaisl (Geração Y)|174952    |
|Chile          |Baby Boomers          |233699    |
|Chile          |Geração X             |174269    |
|Chile          |Geração Z             |186990    |
|Chile          |Millenaisl (Geração Y)|174295    |
|Colombia       |Baby Boomers          |232092    |
|Colombia       |Geração X             |174659    |
|Colombia       |Geração Z             |186432    |
|Colombia       |Millenaisl (Geração Y)|174820    |
|Equador        |Baby Boomers          |233324    |
|Equador        |Geração X             |174915    |
|Equador        |Geração Z             |186644    |
|Equador        |Millenaisl (Geração Y)|174186    |
|Guiana         |Baby Boomers          |234570    |
|Guiana         |Geração X             |174565    |
|Guiana         |Geração Z             |186122    |
|Guiana         |Millenaisl (Geração Y)|175276    |
|Guiana Francesa|Baby Boomers          |232961    |
|Guiana Francesa|Geração X             |175071    |
|Guiana Francesa|Geração Z             |186327    |
|Guiana Francesa|Millenaisl (Geração Y)|175391    |
|Paraguai       |Baby Boomers          |232716    |
|Paraguai       |Geração X             |174352    |
|Paraguai       |Geração Z             |186773    |
|Paraguai       |Millenaisl (Geração Y)|175456    |
|Peru           |Baby Boomers          |232441    |
|Peru           |Geração X             |174411    |
|Peru           |Geração Z             |186462    |
|Peru           |Millenaisl (Geração Y)|174652    |
|Suriname       |Baby Boomers          |233015    |
|Suriname       |Geração X             |175656    |
|Suriname       |Geração Z             |186887    |
|Suriname       |Millenaisl (Geração Y)|175188    |
|Uruguai        |Baby Boomers          |233241    |
|Uruguai        |Geração X             |175067    |
|Uruguai        |Geração Z             |186878    |
|Uruguai        |Millenaisl (Geração Y)|175001    |
|Venezuela      |Baby Boomers          |232562    |
|Venezuela      |Geração X             |174027    |
|Venezuela      |Geração Z             |186414    |
|Venezuela      |Millenaisl (Geração Y)|174979    |
+---------------+----------------------+----------+